.bg-cover {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;

}

.center-me {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.form-signin {
    padding: 25px;
    text-align: center;

}

input {
    margin-bottom: 10px;
}

img {
    height: 200px;
    width: 450px;
    
}