
.card {
	box-shadow: 0 2px 4px 0 black;
	margin-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 25px;
	width: 95%;
	height: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron {
	background-image: url("../images/news-bg.png");
	text-align: center;
	padding-bottom: 15px;
}

.bg-cover {
	background-image: url("../images/news-bg.png");
}

.center{
	display: block;
	justify-content: center;
	align-items: center;
}